@font-face {
  font-family: "Langar";
  src: url("./assets/fonts/Langar-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.langar {
  font-family: "Langar";
  font-weight: lighter;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #232323;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3579df;
}
